.cta {
  background: url("/assets/images/cta-bg.png") no-repeat center center/cover;
  padding-block: var(--section-padding);
  text-align: center;
  padding-block: 50px;

  &__wrapper {
    padding-inline: 15px;
  }

  &__content {
    margin-bottom: 25px;
  }

  &__title {
    color: var(--eerie-black);
    font-size: var(--fs-3);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: var(--eerie-black);
    font-weight: var(--fw-500);
  }

  &__form {
    position: relative;
    &-input {
      font-size: var(--fs-9);
      color: var(--eerie-black);
      box-sizing: 0 5px 5px hsla(0, 0%, 0%, 0.3);
      padding: 20px 30px;
      border-radius: 5px;
      margin-bottom: 15px;
    }
    &-btn {
      background: var(--eerie-black);
      color: var(--emerald);
      font-weight: var(--fw-500);
      padding: 15px 25px;
      margin-inline: auto;
      text-transform: uppercase;
      transition: var(--transition-2);
      &:hover {
        background: transparent;
        border: 1px solid var(--eerie-black);
        color: var(--eerie-black);
      }
    }
  }
}

@media (min-width: 550px) {
  .cta {
    &__wrapper {
      max-width: 550px;
      margin-inline: auto;
    }
  }
}

@media (min-width: 768px) {
  .cta {
    &__form {
      &-btn {
        position: absolute;
        top: 3px;
        right: 3px;

        &:hover {
          background: var(--emerald);
          border: 1px solid var(--eerie-black);
          color: var(--white);
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .cta {
    &__wrapper {
      max-width: 950px;
      display: flex;
      justify-content: space-between;
    }
    &__form {
      width: 400px;
      &-input {
        width: 100%;
      }
    }
  }
}
