.section-title {
  font-size: var(--fs-2);
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 5px;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
